<section class=" scroll-fade-in  min-h-screen flex items-center justify-center px-6 py-12 ">
  <div class="scroll-fade-in max-w-6xl w-full bg-white/90 rounded-2xl shadow-lg p-8 flex flex-col lg:flex-row gap-10 items-center lg:items-start">
    <div class="w-[260px] h-[260px] sm:w-[200px] sm:h-[200px] lg:w-[300px] lg:h-[300px] flex-shrink-0 mx-auto lg:mx-0">
      <div class="rounded-full border-[6px] border-[#a67b5b] overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105 bg-white">
        <img src="assets/images/silvia_logan.jpg" alt="Silvia y Logan" class="w-full h-full object-cover object-top" />
      </div>
    </div>
    <div class="flex-1 text-[#4b3b2b]">
      <h2 class="text-[2.5rem] font-bold text-[#764b2a] mb-6 text-center lg:text-left ">
        {{ 'ABOUT.TITLE' | translate }}
      </h2>

      <div class="space-y-4 text-base leading-relaxed text-justify sm:text-center lg:text-left">
        <p>{{ 'ABOUT.INTRO' | translate }}</p>
        <p>{{ 'ABOUT.EXPERIENCE' | translate }}</p>
        <p>{{ 'ABOUT.BOOTCAMP' | translate }}</p>
        <p>{{ 'ABOUT.HOBBY' | translate }}</p>
      </div>
      <div class="mt-10 ">
        <h3 class="text-[2rem] font-bold text-[#764b2a] mb-4 text-center lg:text-left">
          {{ 'ABOUT.SKILLS_TITLE' | translate }}
        </h3>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
          @for (skill of skillIcons; track skill.name) {
            <div class="bg-[#fffaf3] border-2 border-[#d4b184] rounded-xl p-4 text-center shadow-sm hover:-translate-y-1 transition-transform">
              <img [src]="skill.icon" [alt]="skill.name" class="w-12 h-12 mx-auto mb-2" />
              <p class="text-sm font-medium">{{ skill.name }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
